extends ../layout.pug

block content 
    div
        h1.text-4xl.font-bold= post.title
        if currentUser && currentUser.id === post.author.id
            div.flex.flex-row.gap-2
                a(href=`/posts/${post.id}/edit`, class="text-blue-500") Edit
                form(action=`/posts/${post.id}/delete`, method="POST", class="inline-block")
                    button(type="submit", class="text-red-500") Delete
    div 
        p 
            | Written by 
            a(href=`/users/profile/${post.author.id}`, class="font-bold underline")= `${post.author.name} ${post.author.lastName}`
            |  on #{post.createdAt.toLocaleDateString()}

    p.mt-5= post.content
    